{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VITrip - Home</title>
    <link rel="stylesheet" href="{% static 'loginpage.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>VITrip</h1>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="center-content">
            <h2>Welcome to VITrip</h2>
            <p>Your travel companion</p>
            
                
<span class="input-group-text" id="addon-wrapping">Enter Id </span>
  <input type="text" class="form-control" placeholder="Id" aria-label="Id" aria-describedby="addon-wrapping">
  <br>
</div>

<span class="input-group-text" Password="addon-wrapping">Enter Password </span>
  <input type="text" class="form-control" placeholder="password" aria-label="Id" aria-describedby="addon-wrapping">
<br>
<br>
</div>
                <div class="buttons">
                <a href="#" class="Enter-button">Enter</a>
                <br>
                <br>
                </div>
                
                <a href="#" class="Back-button">Back</a>
                
                <div class="input-group flex-nowrap">
                
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 VITrip. All rights reserved.</p>
    </footer>
</body>
</html>